<%- layout("/layouts/boilarplate.ejs") %>

<body>
  <div class="d-flex flex-wrap">
    <div class="mt-3 m-5 mb-0">
      <img src="/image/homeimage.JPG" alt="my image" class="img-thumbnail" />
    </div>
    <div class="mt-3 mb-5">
      <div class="card card-info">
        <ul
          class="card-body about-ul m-3 mt-0 d-flex flex-column justify-content-evenly"
        >
          <li>
            <h5 class="d-inline-block">name:</h5>
            Tushar Rayamajhi
          </li>
          <li>
            <h5 class="d-inline-block">Study:</h5>
            BCA
          </li>
          <li>
            <h5 class="d-inline-block">collage:</h5>
            Butwal Kalika Campus
          </li>
          <li>
            <h5 class="d-inline-block">Semester:</h5>
            2<sup>nd</sup>
          </li>
          <li>
            <h5 class="d-inline-block">Address:</h5>
            Devedha-7 ShitalNagar
          </li>
          <li>
            <h5 class="d-inline-block">Interested Technology:</h5>
            NODE-JS | EXPRESS-js | MongoDB | MySql | Nest-js
          </li>
        </ul>
      </div>
      <div class="card card-info card-logo d-flex flex-row flex-wrap mt-3">
        <i class="fa-brands fa-square-js"><h6>EXPRESS-Js</h6></i>
        <i class="fa-brands fa-node"><h6>node-Js</h6></i>
        <i class="fa-brands fa-envira"><h6>mongodb</h6></i>
      </div>
    </div>
  </div>
</body>
