<%- layout("/layouts/boilarplate.ejs") %>


<body>
    <div class="d-flex offset-2 mt-1">
        
        <div class="col col-3 mt-5">
            <h1>Tushar Rayamajhi</h1>
            <p><span class="spans">JAVA DSA /FULL STACK DEVELOPER</span> with Skill of Express,Node.js,MongoDB</p>
        </div>
        <div class=" mt-3">
            <img src="/image/homeimage.JPG" alt="my image" class="img-thumbnail">
        </div>
    </div>
</body>