<%- layout("/layouts/boilarplate.ejs") %>
<body>
    <div class="card" style="width: 18rem;">
        <img src="image/suduko.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sudoku Solver 9X9</h5>
          <p class="card-text">this website solve the suduko of 9X9.</p>
          <p class="card-text">technology use: javaScript html css</p>
          <a href="/portfolio/suduko" class="btn btn-primary">View</a>
        </div>
      </div>
</body>