<%- layout("/layouts/boilarplate.ejs") %>
<body>
  <div class="d-flex">
  <div class="card m-5" style="width: 18rem">
        <img src="image/suduko.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sudoku Solver 9X9</h5>
          <p class="card-text">this website solve the suduko of 9X9.</p>
          <p class="card-text">technology use: javaScript html css</p>
          <a href="/portfolio/sudoku" class="btn btn-primary">View</a>
        </div>
    </div>
    <div class="card m-5" style="width: 18rem;">
      <img src="image/rent_house.png" class="card-img-top" style="height: 12rem;" alt="...">
      <div class="card-body">
        <h5 class="card-title">rent room,house,hotel</h5>
        <p class="card-text">in this website you can create,edit,delete list and add, delete review of list and rate the list </p>
        <p class="card-text">technology use: express-js node-js mongodb </p>
        <a href="https://rent-your-house.onrender.com/listing" class="btn btn-primary">View website</a>
        <a href="https://github.com/tusharrayamajhi/rent_your_house" class="btn btn-primary mt-3">View code in git hub</a>
      </div>
  </div>
</div>
</body>