<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>suduko solver</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sudoku.css">

<body>
    <h1 class="container text-center">suduko solver 9X9</h1>
    <h5 class="container text-center mb-2">click in box and enter number</h5>
    <div class="container outer">
    </div>
    <div class="container number mt-3"></div>
    <div class="d-flex justify-content-evenly mt-2 ">
        <button class="reset">reset</button>
        <button class="delete">delete</button>
        <button class="solve">solve</button>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/sudoku.js"></script>
</body>
</html>