
<footer>
    <div class="container-fluid footer d-flex flex-column justify-content-center align-content-center">
    <div class="f-info-social">
        <a href="https://www.facebook.com/tushar.rayamajhi.7"><i class="fa-brands fa-facebook "></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        
    </div> 
    <div class="copy">&COPY;Tushar Rayamajhi</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>   
    </div>
</footer>